<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - March 3</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td> Welcome and introduction to the workshop </td> </tr>
      <tr> <td>11:00</td>  <td> Morning break </td> </tr>
      <tr> <td>10:15</td>  <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/01-intro.html" target="_blank">Python Fundamentals</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/main/Introductory/Code/2026/March/1_Python_Fundamentals_Challenges.ipynb" target="_blank">Challenges</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/02-numpy.html" target="_blank">Analyzing data</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/0fcdd6d37459c2d2a85001a105fd48a51e99270c/Introductory/Code/2026/March/2_Python_Analyzing_Patient_Data_Challenges.ipynb" target="_blank">Challenges</a> </td> </tr>
      <tr> <td>14:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:15</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/03-matplotlib.html" target="_blank">Visualizing Tabular Data</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/0fcdd6d37459c2d2a85001a105fd48a51e99270c/Introductory/Code/2026/March/3_Python_Visualizing_Tabular_Data_Challenges.ipynb" target="_blank">Challenges</a></td></tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - March 10</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td> Welcome and recap of the day 1</td> </tr>
      <tr> <td>10:15</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/04-lists.html" target="_blank">Storing Multiple Values in Lists</a> </td> </tr>
      <tr> <td>11:00</td>  <td>Morning break</td> </tr>
      <tr> <td>11:15</td>   <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/05-loop.html" target="_blank">Repeating Actions with Loops</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/0fcdd6d37459c2d2a85001a105fd48a51e99270c/Introductory/Code/2026/March/5_for_Loops_Challenges_Challenges.ipynb" target="_blank">Challenges</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/06-files.html" target="_blank">Analyzing Data from Multiple Files</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/0fcdd6d37459c2d2a85001a105fd48a51e99270c/Introductory/Code/2026/March/6_Multiple_Files_Challenges.ipynb" target="_blank">Challenges</a></td></tr>
      <tr> <td>14:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:15</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/07-cond.html" target="_blank">Making Choices</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/0fcdd6d37459c2d2a85001a105fd48a51e99270c/Introductory/Code/2026/March/7_Making_Choices_Challenges.ipynb" target="_blank">Challenges</a></td></tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 3 - March 17</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td> Welcome and recap of the day 2</td> </tr>
      <tr> <td>10:15</td>  <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/08-func.html" target="_blank">Creating Functions</a></td> </tr>
      <tr> <td>11:00</td>  <td> Morning break</td> </tr>
      <tr> <td>11:15</td>  <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/09-errors.html" target="_blank">Errors and Exceptions</a> and <a href="https://swcarpentry.github.io/python-novice-inflammation/10-defensive.html" target="_blank">Defensive Programming</a></td> </tr>
      <tr> <td>12:00</td>  <td> Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td> Work with own data </td></tr>
      <tr> <td>14:00</td>  <td> Afternoon break</td> </tr>
      <tr> <td>14:15</td>  <td> Work with own data </td></tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 4 - March 31</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td> Welcome and recap of the day 3</td> </tr>
      <tr> <td>10:15</td>  <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/instructor/11-debugging.html" target="_blank">Debugging</a>  </td> </tr>
      <tr> <td>11:00</td>  <td> Morning break</td> </tr>
      <tr> <td>11:15</td>  <td> Working with own data </td> </tr>
      <tr> <td>12:00</td>  <td> Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td> Working with own data </td></tr>
      <tr> <td>14:00</td>  <td> Afternoon break</td> </tr>
      <tr> <td>14:15</td>  <td> Good practices and what next </td></tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
