<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - March 3</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td> Welcome and introduction to the workshop </td> </tr>
      <tr> <td>11:00</td>  <td> Morning break </td> </tr>
      <tr> <td>10:15</td>  <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/01-intro.html" target="_blank">Python Fundamentals</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/main/Introductory/Code/2026/March/1_Python_Fundamentals_Challenges.ipynb" target="_blank">Challenges</a>
      <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/3a6e1d01e8b01f5a654796f5cdd1a98cbd86fb45/Introductory/Code/2026/March/1_Python_Fundamentals_InClass.ipynb" target="_blank">In class</a> </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/02-numpy.html" target="_blank">Analyzing data</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/0fcdd6d37459c2d2a85001a105fd48a51e99270c/Introductory/Code/2026/March/2_Python_Analyzing_Patient_Data_Challenges.ipynb" target="_blank">Challenges</a> 
      <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/3a6e1d01e8b01f5a654796f5cdd1a98cbd86fb45/Introductory/Code/2026/March/2_Analysing_Patient_Data_InClass.ipynb" target="_blank">In class</a></td> </tr>
      <tr> <td>14:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:15</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/03-matplotlib.html" target="_blank">Visualizing Tabular Data</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/0fcdd6d37459c2d2a85001a105fd48a51e99270c/Introductory/Code/2026/March/3_Python_Visualizing_Tabular_Data_Challenges.ipynb" target="_blank">Challenges</a> 
      <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/3a6e1d01e8b01f5a654796f5cdd1a98cbd86fb45/Introductory/Code/2026/March/3_Python_Visualizing_Tabular_Data_InClass.ipynb" target="_blank">In class</a></td></tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - March 10</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td> Welcome and recap of the day 1</td> </tr>
      <tr> <td>10:15</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/04-lists.html" target="_blank">Storing Multiple Values in Lists</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/57ea74ed29959454c96b006e6206f8a8d4a55509/Introductory/Code/2026/March/4_Storing_Multiple_Values_in_Lists_Challenges.ipynb" target="_blank">Challenges</a> 
      <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/3a6e1d01e8b01f5a654796f5cdd1a98cbd86fb45/Introductory/Code/2026/March/4_Storing_Mulitple_Values_in_Lists_InClass.ipynb" target="_blank">In class</a></td> </tr>
      <tr> <td>11:00</td>  <td>Morning break</td> </tr>
      <tr> <td>11:15</td>  <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/05-loop.html" target="_blank">Repeating Actions with Loops</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/0fcdd6d37459c2d2a85001a105fd48a51e99270c/Introductory/Code/2026/March/5_for_Loops_Challenges_Challenges.ipynb" target="_blank">Challenges</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/06-files.html" target="_blank">Analyzing Data from Multiple Files</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/0fcdd6d37459c2d2a85001a105fd48a51e99270c/Introductory/Code/2026/March/6_Multiple_Files_Challenges.ipynb" target="_blank">Challenges</a></td></tr>
      <tr> <td>14:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:15</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/07-cond.html" target="_blank">Making Choices</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/0fcdd6d37459c2d2a85001a105fd48a51e99270c/Introductory/Code/2026/March/7_Making_Choices_Challenges.ipynb" target="_blank">Challenges</a>
      <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/3a6e1d01e8b01f5a654796f5cdd1a98cbd86fb45/Introductory/Code/2026/March/7_Making_Choices_InClass.ipynb" target="_blank">In class</a></td></tr>
      <tr> <td>15:00</td>  <td><span> END - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/bf770e6d6d680c078fed3b630bfd132a7f137335/Introductory/Code/2026/March/Additional_Challenges_day2.ipynb" target="_blank">Additional Challenges</a></td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 3 - March 17</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td> Welcome and recap of the day 2</td> </tr>
      <tr> <td>10:15</td>  <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/08-func.html" target="_blank">Creating Functions</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/4642cf0a13aadd2dabf1ed664fae07df2918abcc/Introductory/Code/2026/March/8_Functions_Challenges.ipynb" target="_blank">Challenges</a>
      <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/3a6e1d01e8b01f5a654796f5cdd1a98cbd86fb45/Introductory/Code/2026/March/8_Functions_InClass.ipynb" target="_blank">In class</a></td></tr>
      <tr> <td>11:00</td>  <td> Morning break</td> </tr>
      <tr> <td>11:15</td>  <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/09-errors.html" target="_blank">Errors and Exceptions</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/4642cf0a13aadd2dabf1ed664fae07df2918abcc/Introductory/Code/2026/March/9_Errors_and_Exceptions_Challenges.ipynb" target="_blank">Challenges</a> and <a href="https://swcarpentry.github.io/python-novice-inflammation/10-defensive.html" target="_blank">Defensive Programming</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/4642cf0a13aadd2dabf1ed664fae07df2918abcc/Introductory/Code/2026/March/10_Defensive_Programming_Challenges.ipynb" target="_blank">Challenges</a></td> </tr>
      <tr> <td>12:00</td>  <td> Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td> Work with own data </td></tr>
      <tr> <td>14:00</td>  <td> Afternoon break</td> </tr>
      <tr> <td>14:15</td>  <td> Work with own data </td></tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Day 4 - March 31</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td> Welcome and recap of the day 3</td> </tr>
      <tr> <td>10:20</td>  <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/08-func.html" target="_blank">Creating Functions (continued)</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/4642cf0a13aadd2dabf1ed664fae07df2918abcc/Introductory/Code/2026/March/8_Functions_Challenges.ipynb" target="_blank">Challenges</a></td></tr>
      <tr> <td>11:00</td>  <td> Morning break</td> </tr>
      <tr> <td>11:15</td>  <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/instructor/11-debugging.html" target="_blank">Debugging</a> <span> - </span> <a href="https://github.com/ubvu/Python-Software-Carpentry/blob/3a6e1d01e8b01f5a654796f5cdd1a98cbd86fb45/Introductory/Code/2026/March/11_Debugging_Challenges.ipynb" target="_blank">Challenges</a> </td> </tr>
      <tr> <td>12:00</td>  <td> Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td> Working with own data </td></tr>
      <tr> <td>14:00</td>  <td> Afternoon break</td> </tr>
      <tr> <td>14:15</td>  <td> Good practices and what's next </td></tr>
      <tr> <td>14:30</td>  <td> Working with own data </td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
